.Rproj.user
.Rhistory
.RData

*.swp

framed.sty

knitr_cache/*

knitr_graphics/*

lumi_microarray-concordance.tex

lumi_microarray.idx

lumi_microarray.ilg

lumi_microarray.ind

lumi_microarray.log

lumi_microarray.synctex.gz

lumi_microarray.tex
